<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 컨트롤러 등록하기 HandlerMapping이 확인해서 DispatcherServlet에 넘겨준다.
		기본으로 설정되어 있는 HandlerMapping이 빈의 name으로 파싱하므로 name으로 등록해야 한다. -->
	
</beans>

